:root{
    --fb-bg: #1877F2;
    --gmail-bg: #D1462A;
    --linkedin-bg: #0077B5;
    --github-bg: #181717;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    min-height: 100vh;
}

header{
    display: flex;
}
header h1{
    margin: 5px auto;
}

.footer-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.contact-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
hr{
    border-top: 3px solid black;
    width: 30%;
    margin: 0 20px;
}
.hide{
    display: none;
}
.name-warning{
    color: red;
}
.prev-btn, .next-btn{
    width: 90px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.prev-btn{
    background: url(../images/left-arrow.png) center no-repeat;
    background-size: cover;
    left: -125px;
}
.next-btn{
    background: url(../images/right-arrow.png) center no-repeat;
    background-size: cover;
    right: -125px;
} 

.btn{
    margin: 5px;
}
.btn:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-card {
    transform: translateX(-50%); /* Start off-screen to the left */
    opacity: 0;
    transition: transform 0.25s ease, opacity 0.25s ease;
    position: relative; /* Ensure transform works */
}

.question-card.visible {
    transform: translateX(0); /* Slide to the normal position */
    opacity: 1;
}

.question-card.hide-right {
    transform: translateX(50%); /* Slide off-screen to the right */
    opacity: 0;
}
.question-card.hide-left {
    transform: translateX(-50%); /* Slide off-screen to the right */
    opacity: 0;
}
.question-card.transfer-right {
    transform: translateX(50%); /* Slide off-screen to the right */
    opacity: 0;
}


.fb{
    background: url(../images/facebook-icon-1.png) no-repeat center;
}
.gmail{
    background: url(../images/gmail-icon-1.png) no-repeat center;
}
.linkedin{
    background: url(../images/linkedin-logo-1.png) no-repeat center;
}
.github{
    background: url(../images/github-icon-1.png) no-repeat center;
}
.contact-icon{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    border-radius: 100%;
    cursor: pointer;
}
.fb:hover{
    background: url(../images/facebook-icon-2.png) no-repeat center;
    background-color: var(--fb-bg);
}
.gmail:hover{
    background: url(../images/gmail-icon-2.png) no-repeat center;
    background-color: var(--gmail-bg);
}
.linkedin:hover{
    background: url(../images/linkedin-logo-2.png) no-repeat center;
    background-color: var(--linkedin-bg);
}
.github:hover{
    background: url(../images/github-icon-2.png) no-repeat center;
    background-color: var(--github-bg);
}
